# garder le code de src/data
!src/data/
!src/data/**

# ignorer caches & artefacts
__pycache__/
*.py[cod]
*.pyc
.ipynb_checkpoints/
.DS_Store

# environnements
.venv/
venv/
.env
.envrc

# poids / sorties / data locale
/weights/
/outputs/
/data/
*.pth
*.pt
*.ckpt
/runs/
/logs/
